:root {
    --primary: #406F73;
    --secondary: #79D1D9;
    --neutral: #D2A4B0;
    --accent: #FFDCE5;
}

* {
    font-family: "Josefin Sans";
}

.hero-button {
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.container-xxl {
    margin-top: 3rem;
}